.progress{

  margin: 5px 100px 0px 100px;

}
.progressStepHead{

  font-size: large;
  font-weight: bold;
  color:#4861b0;

}
.margin-top{

  margin-top: 25px;

}
.progress-step-body{

  font-size: small;
  color:grey;

}
.form-main{

  width: 95%;
  height: 75vh;
  margin: 0px 20px 0px 20px;
}
.form-body{

  width: 100%;
  height: 67vh;

}
.form-button{

  bottom: 0 !important;

}
.input-name{

  width: 70%;
  margin-left: 200px;
  text-align: center;

}
.input-name-img{

  margin-left: 440px;

}
.input-name-head{

  font-size: xx-large;
  font-weight: bold;
  margin: 30px 0px 10px 400px;
  color: #009483;
  font-family:cursive;

}
.input-img-head{

  font-size: xx-large;
  font-weight: bold;
  margin: 30px 0px 10px 400px;
  color:#636060;
  font-family:cursive;

}
.input-story-head{

  font-size: xx-large;
  font-weight: bold;
  margin: 30px 0px 10px 400px;
  color:#3e7bbd;
  font-family:cursive;

}
.input-img-img{

  margin: 60px 0px 0px 600px;

}
.input-img-body{

  margin:100px 0px 0px 600px ;

}
.input-story-img{

  margin: 60px 0px 0px 100px;

}
.text-area{

  width: 500px;
  height: 400px;
  margin-top: 30px;

}
.input-cat-input{

  width: 30%;
  margin: 0px 0px 20px 500px;

}
.input-cat-head{

  font-size: xx-large;
  font-weight: bold;
  margin: 30px 0px 10px 400px;
  color:#7c800e;
  font-family:cursive;

}
.input-cat-img{

  margin: 40px 0px 10px 600px;

}
.input-prod-input{

  margin: 40px 10px 0px 10px;

}
.form-control-file{

  width: 200px;

}
.input-prod-head{

  font-size: xx-large;
  font-weight: bold;
  margin: 30px 0px 50px 400px;
  color:#757575;
  font-family:cursive;

}
.input-finish-head{

  font-size: xx-large;
  font-weight: bold;
  margin: 30px 0px 10px 350px;
  color:#539447;
  font-family:cursive;

}
.input-finish-img{

  margin: 60px 0px 10px 600px;

}
